@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-interactive {
    mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 8px, black 8px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 8px, black 8px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
  }

  .scrollbar-interactive:hover {
    -webkit-mask-position: left top;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2
  } 

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @apply bg-gray-500
  }

  aside[data-view='1'] {
    @apply w-60 max-w-[240px]
  }

  aside[data-view='2'] {

  }

  aside[data-view='2'] span,
  aside[data-view='2'] svg:last-child,
  aside[data-view='2'] div[data-view='2'] {
    @apply hidden
  }

  aside[data-view='2']:hover {
    @apply w-60
  }

  aside[data-view='2']:hover span, 
  aside[data-view='2']:hover svg:last-child, 
  aside[data-view='2']:hover div[data-view='2'] {
    @apply block
  }

}

@layer utilities {
  .bb {
    @apply border border-black
  }
}